.App {
  display: flex;
  background-image : url('./background.jpg');
  background-size : cover;
  background-position : center;
}

.App-logo {
  height: 40vmin;
}

.App-header1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  font-size: calc(10px + 2vmin);
  color: white;
}